.app {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;

    font: var(--font-m);
    font-style: normal;

    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;

}


.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: var(--base-color);


    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: center;

    .headerInner {
        position: relative;
        height: 100%;
    }

}

.footer {
    height: var(--footer-height);
    position: relative;
    width: 100%;
    background-color: var(--base-color);

    &::after,
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: var(--base-color);
    }

    &::before {
        left: 100%;
        width: 100%;
    }
}


.pageWrapper {
    margin-top: var(--header-height);
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    position: relative;
    flex: 1 0 auto;
    width: 100%;
}