.header {
    z-index: 1000;
    width: 100%;
    height: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            font-weight: 700;
            font-size: 24px;
        }
    }

    &__links {
        height: 50%;
    }
}

.header__links {
    margin-left: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;

    @media (max-width: 840px) {
        justify-content: flex-end;
    }
}

.route {
    transition: opacity 0.2s ease 0s;

    &:hover {
        opacity: 0.7;
    }

    @media (max-width: 840px) {
        display: none;
    }
}

.route__active {
    font-weight: 900;
}


.header__burger {
    display: block;
    margin: 0 12px;
    transform: scale(1.5);

    @media (min-width: 840px) {
        display: none;
    }

    cursor: pointer;
}